@import "tailwindcss";

@font-face {
	font-family: "Roboto";
	src: url(public/fonts/Roboto-VariableFont.ttf);
}

:root {
	background-color: #121212;
	color: white;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	line-height: 1.6;
}

input[type="number"]::-webkit-inner-spin-button,
select {
	appearance: none;
}

input,
select {
	outline: none;
}
